.navbar{
    font-size: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-control-prev-icon:after{
    color: #212529;
}

.carousel-control-next-icon:after{
    color: #212529;
}

.carousel-inner{
    height: 90vh;

}

.carousel-caption{
    top: 50%;
transform: translateY(-50%);
background: rgb(33, 37, 41, 0.5);
bottom: initial;
}

.card{
    margin: 50px;
}

.row{
    margin-top: 50px;
}

footer{
    margin-top: 50px;
    background: #212529;
    color: white;
    padding: 3%;
}

.fab{
    color: white;
    font-size: 30px;
    padding: 10px;
}

.fab:hover{
    color: #86898c;
    
}